<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tchadwickdev</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      div {
        margin: 1em;
        padding: 1em;
        border-radius: 5px;
        border: 2px solid #ccc;
        font-size: 16pt;
      }
    </style>
  </head>
  <body>
    <!-- Generic Data Use from The Script -->
    <div id="app">
      {{ message }}
    </div>
    <!-- Applying a Hover Message -->
    <div id="app-2">
      <span v-bind:title="message" >
        Hover over to see whats bound to me!
      </span>
    </div>
    <!-- If Statement-->
    <!-- If 'seen' = true -->
    <div id="app-3">
      <p v-if="seen">Visible Text!</p>
      <button v-on:click="toggleText"class="btn btn-danger">
        Toggle Text
      </button>
    </div>
    <!-- For Loop -->
    <!-- Loop over the todo list and output the text attribute of each item -->
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <!-- User Input -->
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage" class="btn btn-primary">Reverse Message</button>
    </div>
    <!-- Two-Way Binding -->
    <div id="app-6">
      <p>{{ message }}</p>
      <label for="message">Type Here to Change the Text</label>
      <input name="message" v-model="message">
    </div>
    <!-- Using Components -->
    <div id="app-7">
      <ol>
        <!-- show each item in todo object -->
        <todo-item v-for="item in shoppingList" v-bind:todo="item">
        </todo-item>
      </ol>
    </div>
  </body>
</html>
